/* Root definitions for color themes */
:root {
    --body_bkgr_color: #fcffff;
    --header_bkgr_color: transparent;
    --submenu_bkgr_color: #fcffff;
    --footer_bkgr_color: #e3f3fb;
    --border_color: #cccccc;
    --nav_text_color: #2f322a;
    --body_text_color: #000000;
    --body_link_color: #010e45;
    --body_link_hover_color: #059BD8;
    --button_bkgr_color: #1C5E82;
    --button_hover_bkgr_color: #059BD8;
    --button_text_color: #FFFFFF;
}

/* Universal base styles */
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Poppins', Verdana, Arial, Helvetica, sans-serif;
    background: #000000;
    color: var(--body_text_color);
    margin: 0;
    padding: 0;
    height: 100vh;
}

body.no-scroll {
    overflow: hidden; /* Disable vertical scrolling */
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure wrapper takes full height */
    opacity: 0; /* Initial state for fade-in effect */
    transition: opacity 1s ease; /* Smooth fade-in transition */
}

.wrapper.visible {
    opacity: 1; /* Fade-in effect */
}

/* Loading Screen Styles */
#loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000; /* Match the background color */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it covers all content */
    transition: opacity 0.5s ease; /* Smooth fade-out transition */
    opacity: 1; /* Initial state */
}

#loading-screen.hidden {
    opacity: 0;
    visibility: hidden;
}

.loading-text {
    text-align: center;
}

.loading-title {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.loading-subtitle {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 0.5rem;
    letter-spacing: 0.5px;
}

.loading-bar {
    width: 0;
    height: 2px;
    background-color: var(--body_link_hover_color); /* Use the same color as the hover effect */
    margin-top: 1rem;
    transition: width 3s linear; /* Fill the bar in 5 seconds */
}

/* Header styles */
#header {
    opacity: 1;
    background: var(--header_bkgr_color); /* Keep background transparent */
    position: fixed; /* Ensure the header is fixed */
    width: 100%;
    top: 0;
    left: 0;
    height: auto; /* Fixed height for the header */
    box-sizing: border-box; /* Include padding and border in height */
    z-index: 1000; /* Ensure it stays above other content */
}

.header-container {
    display: flex;
    justify-content: space-between; /* Distribute space between items */
    align-items: center;
    height: 100%;
    padding: 0px 5%; /* Consistent padding */
}

.logo-container {
    display: flex;
    align-items: center; /* Vertically center the items */
}

#header .logo {
    height: 30px; /* Set logo height */
}

.site-name {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5em;
    letter-spacing: 0.5px;
    color: #000000; /* Default color */
    margin-left: 10px; /* Space between logo and name */
}

/* Navigation styles */
#topnav {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5em;
    letter-spacing: 0.5px;
    background-color: transparent;
    position: relative;
    display: flex; /* Existing styles */
    align-items: center;
    justify-content: flex-end; /* Existing styles */
    margin: 0; /* Removed property */
}

#topnav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Display as flex for larger screens */
    align-items: center; /* Center items vertically */
}

#topnav ul li {
    margin: 0 0px;
}

#topnav ul li a {
    padding: 30px 0px;
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center items vertically */
    color: var(--nav_text_color);
    text-decoration: none;
    position: relative;
    line-height: 1.5;
    white-space: nowrap; /* Prevent text wrapping */
}

#topnav ul li a .text {
    display: inline-block;
    position: relative;
    font-weight: 700;
    color: #000000;
}

#topnav ul li:hover > a {
    color: var(--body_link_hover_color);
}

#topnav ul li a .text::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0px;
    left: 0;
    background: var(--body_link_hover_color);
    transition: width 0.5s ease;
}

#topnav ul li:hover .text::after {
    width: 100%;
}

/* Intro section with adjusted padding */
#intro {
    background-color: #000000; /* Set background to black */
    height: 100vh; /* Full viewport height */
    padding: 0; /* Remove padding to ensure full coverage */
    position: relative; /* Relative positioning for layering */
    z-index: 0; /* Ensure intro is behind the header */
    overflow: hidden; /* Ensure video covers the whole section */
}

#intro .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#intro .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the video covers the entire container */
}

#intro .content-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    letter-spacing: 0.05em;
}

.hero__cover {
    will-change: background-position;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.hero__image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(http://bonhomme.bzh/_codepen/cover.jpg);
    background-size: cover;
    background-position: -50px bottom;
    transition: background-position 2s cubic-bezier(0.52, 0.01, 0.16, 1);
}

.hero__strap {
    position: relative;
    z-index: 5;
    padding: 40px 80px;
}

.hero__title {
    font-weight: 400;
    margin: 0;
    font-size: 3.5em;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.05em;
  
    & > span {
        display: block;
    }
  
    .letter {
        display: inline-block;
        opacity: 0;
        transform: translateY(40%);
    }
}

.hero__subtitle {
    margin-top: 15px;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    opacity: 0;
    transform: translateY(40%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* White spacer div */
.white-spacer {
    background: #ffffff;
    height: 100vh; /* Adjust height as needed */
    width: 100%; /* Ensure full width */
}

/* Ensure black background for the following section */
#message {
    background: #000000;
    height: 100vh;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.spacer {
    background: #000000;
    height: 100vh;
    margin-top: 0; /* Adjust for fixed header */
}

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0; /* Adjust for fixed header */
}

#message h2 {
    color: #fff;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Pin for Canvas */
.pin {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    z-index: 2; /* Ensure it stays above the main content */
}

/* Canvas styles */
canvas {
    width: 50%;
    max-width: 50%;
    height: auto;
}

/* Responsive Media Queries */
@media (max-width: 768px) {
    #header {
        height: auto; /* Adjust height for smaller screens */
    }

    .header-container {
        flex-direction: row; /* Keep elements in a row */
        justify-content: space-between; /* Distribute space */
        align-items: center; /* Vertically center items */
    }

    .logo-container,
    #topnav {
        margin-bottom: 0; /* Remove bottom margin */
    }

    #topnav {
        width: auto; /* Keep width auto */
        justify-content: flex-end; /* Align to the right */
    }
}

@media (min-width: 769px) {
    #topnav {
        position: relative;
        right: auto;
        height: auto;
        width: auto;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end; /* Align to the right */
    }

    #topnav ul {
        flex-direction: row;
    }
}

body[data-bg="dark"] #topnav ul li a .text,
body[data-bg="dark"] .site-name {
    color: #FFFFFF; /* White text for dark background */
}

body[data-bg="light"] #topnav ul li a .text,
body[data-bg="light"] .site-name {
    color: #000000; /* Black text for light background */
}

body[data-bg="white"] #topnav ul li a .text,
body[data-bg="white"] .site-name {
    color: #000000; /* Black text for white background */
}

/* Scroll animation visible class */
.visible {
    opacity: 1 !important;
    transform: translateY(0) !important;
}
